{{ 'component-modal.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-quickview-modal.css' | asset_url | stylesheet_tag }}
{% style %}

{% endstyle %}
{% comment %} <button type="button" class="btn btn-primary" data-modal-toggle="modal" data-modal-target="#quickviewModal">
    Launch demo modal
</button> {% endcomment %}
  
  <!-- Modal -->
  <modal-opener class="modal hidden quickview_modal" id="quickviewModal" tabindex="-1" aria-labelledby="quickviewModalLabel" aria-hidden="true">
    <div class="modal_container modal_container_centered">
      <div class="modal_inner_wrap">
          <button type="button" class="modal_close" data-modal-dismiss="modal" aria-label="Close"></button>
        <div class="modal_body">
            <div class="grid-row">
                <div class="grid-col-lg-6 grid-col-12">
                    <div class="quickview_product_slider_wrap">
                        <div class="quickview_product_slider slideshow">
                            <div class="quickview_product_slider_slide slideshow_slide">
                                <img src="https://cdn.shopify.com/s/files/1/0618/9232/9644/files/modal-img.png" alt="modal">
                            </div>
                            {% comment %} <div class="quickview_product_slider_slide slideshow_slide">
                                <img src="https://cdn.shopify.com/s/files/1/0618/9232/9644/files/modal-img-2.jpg" alt="modal">
                            </div>
                            <div class="quickview_product_slider_slide slideshow_slide">
                                <img src="https://cdn.shopify.com/s/files/1/0618/9232/9644/files/AVA2541PINKORAN-2.webp" alt="modal">
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="grid-col-lg-6 grid-col-12">
                    <div class="quickview_product_content_wrap">
                        <div class="quickview_product_content">
                            <h3 class="quickview_product_title">Morning After Shirt Dress</h3>
                            <div class="quickview_product_price">
                                <div class="price">
                                    <span class="price__regular">{{ cart.currency.symbol }} 68.95</span>
                                    <span class="price__sale">{{ cart.currency.symbol }} 69.95</span>
                                </div>
                            </div>
                            <div class="quickview_product_description">                                
                            </div>
                            <variant-picker1>
                                <div class="quickview_product_size_selector_wrap">
                                    <div class="quickview_product_size_selector_title">Size: </div>
                                    <div class="quickview_product_size_selector">
                                        <div class="quickview_product_size_selector_radio">
                                            <input id="quickviewProductSizeSelectorLabel1" type="radio" name="size" value="XS">
                                            <label for="quickviewProductSizeSelectorLabel1" class="quickview_product_size_selector_label">XS</label>
                                        </div>
                                        <div class="quickview_product_size_selector_radio">
                                            <input id="quickviewProductSizeSelectorLabel2" type="radio" name="size" value="S" checked>
                                            <label for="quickviewProductSizeSelectorLabel2" class="quickview_product_size_selector_label">S</label>
                                        </div>
                                        <div class="quickview_product_size_selector_radio">
                                            <input id="quickviewProductSizeSelectorLabel3" type="radio" name="size" value="M">
                                            <label for="quickviewProductSizeSelectorLabel3" class="quickview_product_size_selector_label">M</label>
                                        </div>
                                        <div class="quickview_product_size_selector_radio">
                                            <input id="quickviewProductSizeSelectorLabel4" type="radio" name="size" value="L">
                                            <label for="quickviewProductSizeSelectorLabel4" class="quickview_product_size_selector_label">L</label>
                                        </div>
                                        <div class="quickview_product_size_selector_radio">
                                            <input id="quickviewProductSizeSelectorLabel5" type="radio" name="size" value="XL">
                                            <label for="quickviewProductSizeSelectorLabel5" class="quickview_product_size_selector_label">XL</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="quickview_product_color_selector_wrap">
                                    <div class="quickview_product_color_selector_title">Color: </div>
                                    <div class="quickview_product_color_selector">
                                        <div class="quickview_product_color_selector_radio">
                                            <input id="quickviewProductColorSelectorLabel1" type="radio" name="color" value="XS" checked>
                                            <label for="quickviewProductColorSelectorLabel1" class="quickview_product_color_selector_label" style="background:#FF7B54;"></label>
                                        </div>
                                        <div class="quickview_product_color_selector_radio">
                                            <input id="quickviewProductColorSelectorLabel2" type="radio" name="color" value="S">
                                            <label for="quickviewProductColorSelectorLabel2" class="quickview_product_color_selector_label" style="background:#FFB26B;"></label>
                                        </div>
                                        <div class="quickview_product_color_selector_radio">
                                            <input id="quickviewProductColorSelectorLabel3" type="radio" name="color" value="M">
                                            <label for="quickviewProductColorSelectorLabel3" class="quickview_product_color_selector_label" style="background:#FFD56F;"></label>
                                        </div>
                                        <div class="quickview_product_color_selector_radio">
                                            <input id="quickviewProductColorSelectorLabel4" type="radio" name="color" value="L">
                                            <label for="quickviewProductColorSelectorLabel4" class="quickview_product_color_selector_label" style="background:#ECA869;"></label>
                                        </div>
                                        <div class="quickview_product_color_selector_radio">
                                            <input id="quickviewProductColorSelectorLabel5" type="radio" name="color" value="XL">
                                            <label for="quickviewProductColorSelectorLabel5" class="quickview_product_color_selector_label" style="background:#939B62;"></label>
                                        </div>
                                    </div>
                                </div>
                            </variant-picker1>    
                            <div class="quickview_product_btns_wrap">
                                <quantity-input class="quickview_product_quantity_selector">
                                    <input class="quickview_product_quantity_selector_input" type="number" name="quantity" value="1" min="1" max="100">
                                    <button class="quickview_product_quantity_btn quickview_product_quantity__decrease" data="min">{% render 'icon-angle-left' %}</button>
                                    <button class="quickview_product_quantity_btn quickview_product_quantity__increase" data="max">{% render 'icon-angle-right' %}</button>
                                </quantity-input>
                                <button class="btn btn-arrow btn-transparent btn-add-to-cart">ADD TO CART {% render 'icon-arrow-right' %}</button>
                                <button class="btn btn-arrow btn-black btn-checkout">BUY IT NOW {% render 'icon-arrow-right' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </modal-opener>