<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.heading_font_family.system? and settings.body_font_family.system? and settings.button_font_family.system? and settings.navigation_font_family.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% render 'root-css' %}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
    {{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}

    {%- unless settings.body_font_family.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.body_font_family | font_url }}"
        type="font/woff2"
        crossorigin>
    {%- endunless -%}
    {%- unless settings.heading_font_family.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.heading_font_family | font_url }}"
        type="font/woff2"
        crossorigin>
    {%- endunless -%}
    {%- unless settings.button_font_family.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.button_font_family | font_url }}"
        type="font/woff2"
        crossorigin>
    {%- endunless -%}
    {%- unless settings.navigation_font_family.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.navigation_font_family | font_url }}"
        type="font/woff2"
        crossorigin>
    {%- endunless -%}

  </head>

  <body class="password gradient">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>
    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>